@import 'variables';

@media(max-width: 1367px){
	.center{
		margin: 0 auto;
		width: 90%;
	}

	header .top .center .logos-box{
		width: 60%;
		transform: scale(0.9);
		transform-origin: left;
	}

	header .top .center .right{
		width: 40%;
	}

	header .top .center .right .wrapper .languages-box a{
		font-size: $fs16;
	}

	header .top .center .navigation-box nav ul li a{
		height: 50px;
		line-height: 50px;
	}

	main .main-slider-box .overlay .center .middle .wrapper .text h1{
		font-size: $fs26;
		line-height: 26px;
		margin-bottom: 15px;
	}

	main .main-slider-box .overlay .center .middle .wrapper .text p{
		font-size: $fs14;
		line-height: 18px;
	}

	main .main-slider-box .overlay .center .middle .wrapper .text .readmore{
		font-size: $fs14;
		margin-top: 15px;
	}

	main .main-slider-box .overlay .center .middle::before{
		height: calc(100% - 230px);
	}

	main .main-slider-box .overlay .center .middle .wrapper{
		height: 230px;
	}

	main .main-slider-box .overlay .center .middle::after{
		height: calc(100% - 230px);
	}

	main .about-us .center .wrapper .left h2{
		font-size: $fs36;
	}

	main .about-us .center .wrapper .left .text{
		padding: 50px 15px 60px 15px;
	}

	main .about-us .center .wrapper .left .text p,
	main .about-us .center .wrapper .left .text a{
		font-size: $fs14;
	}

	main .news-box .center h2{
		font-size: $fs36;
	}

	main .news-box .mouseHoverChangeScale{
		margin-top: 110px;
	}

	main .news-box .mouseHoverChangeScale .card .image-box{
		height: 190px;
	}

	main .news-box .mouseHoverChangeScale .card .content{
		margin-top: 15px;
		margin-bottom: 50px;
	}

	main .news-box .mouseHoverChangeScale .card .content h3{
		margin-top: 10px;
		margin-bottom: 10px;	
		font-size: $fs13;
		line-height: 13px;
	}

	main .news-box .mouseHoverChangeScale .card .content p{
		font-size: $fs12;
		line-height: 14px;
	}

	main .news-box .mouseHoverChangeScale .card .readmore span{
		font-size: $fs12;
	}

	main .news-box .allnews a{
		font-size: $fs14;
	}

	footer .footer-nav nav ul li{
		margin-bottom: 26px;
	}

	footer .footer-nav nav ul li a,
	footer .middle p{
		font-size: $fs14;
	}

	footer .middle .wrapper button{
		height: 50px;
		line-height: 50px;
		padding: 0 70px 0 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	footer .middle .wrapper button span,
	footer .center .contaxt-info ul li .data p,
	footer .center .contaxt-info ul li .data a,
	footer .copyright p,
	footer .center .contaxt-info ul li .data h3{
		font-size: $fs14;
	}

	.about-page main h1{
		font-size: $fs36;
	}

	.about-page main .box .text p{
		font-size: $fs14;
	}

	.contact-page main .contact-content .form-box h2{
		font-size: $fs26;
		line-height: 26px;
	}

	.news-page main .all-news h1{
		font-size: $fs36;
	}

	.editions-page main .all-news .editions-box{
		margin-top: 55px;
	}

	.editions-page main .all-news .editions-box .edition{
		padding: 0 70px 65px 70px;
		margin-bottom: 60px;
	}

	.editions-page main .all-news .editions-box .row{
		margin-right: calc(60px / -2);
		margin-left: calc(60px / -2);
	}

	.editions-page main .all-news .editions-box .row>*{
		padding-right: calc(60px / 2);
		padding-left: calc(60px / 2);
	}

	.editions-page main .all-news .editions-box .edition .image-box{
		height: 330px;
	}

	.editions-page main .all-news .editions-box .edition h2{
		font-size: $fs14;
		margin:15px 0 0 0;
	}

	.editions-page main .all-news .editions-box .edition .year{
		padding: 0 40px;
		top: 200px;
	}

	.editions-page main .all-news .pagination{
		margin-top: 0px;
	}

	main .the-news .center .content h1{
		font-size: $fs26;
	}

	main .the-news .center .content .text p,
	main .the-news .center .content .text span{
		font-size: $fs14;
		line-height: 18px;
	}

	.management-page main .the-news .center .content .links{
		margin-top: 40px;
	}

	.management-page main .the-news .center .content .links ul li a{
		font-size: $fs14;
		line-height: 18px;
		min-height: unset;
		padding: 15px 440px 15px 135px;	
	}

	.management-page main .the-news .center .content{
		margin-bottom: 80px;
	}

	.news-inside-page main .the-news .center .content em{
		margin: 15px 0;
	}

	.news-inside-page main .last-news .center h2{
		font-size: $fs36;
	}

	.news-inside-page main .last-news .center .box .row{
		margin-right: calc(60px / -2);
		margin-left: calc(60px / -2);
	}

	.news-inside-page main .last-news .center .box .row>*{
		padding-right: calc(60px / 2);
		padding-left: calc(60px / 2);
	}

	.news-inside-page main .last-news .center .box .item .content h3{
		font-size: $fs14;
	}

	.news-inside-page main .last-news .center .box .item .content em{
		margin: 10px 0;
	}

	.news-inside-page main .last-news .center .box .item .content p{
		font-size: $fs12;
	}

	.news-inside-page main .the-news .center .content{
		margin-bottom: 80px;
	}

	.news-inside-page main .last-news .center .box .item .image-box{
		height: 280px;
	}
}