@import 'variables';

@media(max-width: 1537px){
	main .main-slider-box .overlay .center .middle::before{
		height: calc(100% - 260px);
	}

	main .main-slider-box .overlay .center .middle .wrapper{
		height: 260px;
	}

	main .main-slider-box .overlay .center .middle::after{
		height: calc(100% - 260px);
	}

	main .main-slider-box .overlay .center .middle .wrapper .text .readmore{
		margin-top: 20px;
	}

	main .the-news #news-slider{
		margin-top: 50px;
	}
}