@import 'variables';

@media(max-width: 961px){
	.mobile-hide{
		display: none !important;
	}

	.center{
		width: 90%;
		margin: 0 auto;
	}

	header .middle .center .logo{
		margin-right: 0;
		width: 100%;
		position: relative;
	}

	header .middle .center .logo a:first-child{
		transform: scale(0.7);
		transform-origin: left;
	}

	header .middle .center .search-box{
		width: 100%;
	}

	header .middle .center .search-box form input{
		padding-left: 40px;
	}

	header .middle .center .search-box form button{
		left: 10px;
	}

	header .middle .center .search-box form.focused button{
		left: calc(100% - 30px);
	}

	.g-profile-languages{
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.g-profile-languages ul li:nth-child(3){
		margin-right: 0;
	}

	.g-profile-languages ul li:last-child{
		display: none;
	}

	header .middle .center .logo a.language{
		width: 30px;
		height: 30px;
		border: solid 1px rgba(136, 137, 137, 0.1);
		border-radius: 100%;
		text-indent: -9999px;
		display: block;
		background-repeat: no-repeat;
		background-position: center;
		opacity: 1;
		@include trans('opacity', '600ms');
		position: absolute;
		top: calc(50% - 15px);
		right: 0;
	}

	header .middle .center .logo a.language:hover{
		opacity: 0.7;
	}

	header .middle .center .logo a.ka{
		background-image: url('../img/ka.svg');
	}

	header .middle .center .logo a.en{
		background-image: url('../img/en.svg');
	}

	.center .additional-menu{
		display: none;
	}

	.g-sticky-menu .center .production-box{
		display: block;
		user-select: none;
		cursor: pointer;
		pointer-events: all;
	}

	.g-sticky-menu .center .production-box{
		width: 100%;
		pointer-events: all;
	}

	.g-sticky-menu .center .production-box .production{
		width: 100%;
		pointer-events: none;
	}

	header .middle .center .search-box input{
		font-size: 14px;
	}

	.mobile-navigation{
		display: flex;
		align-items: flex-start;
		justify-content: center;
		width: 100%;
		height: 100vh;
		position: absolute;
		left:-100%;
		top: 0;
		z-index: 10000;
		overflow: auto;
		background-color: $white;
		@include trans('left', '600ms');
	}

	.mobile-navigation.open{
		left: 0;
	}

	.mobile-navigation .wrapper{
		@include makeNull;
		padding: 20px 0 0 0;
	}

	.mobile-navigation .wrapper .additional-production{
		@include makeNull;
		text-align: center;
		width: calc(100% - 80px);
	}

	.mobile-navigation .wrapper .additional-production ul{
		@include makeNull;
		text-align: center;
		list-style-type: none;
	}

	.mobile-navigation .wrapper .additional-production ul li{
		@include makeNull;
		display: block;
		margin-bottom: 10px;
		margin-left: 15px;
	}

	.g-sticky-menu .g-profile-languages{
		display: none;
	}

	.mobile-navigation .wrapper .additional-production ul li a{
		@include makeNull;
		display: inline-block;
		text-decoration: none;
		width: 100%;
		min-height: 30px;
		padding: 0 10px;
		border-radius: 5px;
		background-color: $color3;
		color: $white;
	}

	.mobile-navigation .wrapper nav{
		@include makeNull;
		width: 90%;
		margin: 20px auto;
	}

	.mobile-navigation .wrapper nav ul{
		@include makeNull;
		list-style-type: none;
	}

	.mobile-navigation .wrapper nav ul li{
		@include makeNull;
		display: block;
		margin-bottom: 5px;
		padding-bottom: 5px;
		text-align: left;
		border-bottom: 1px solid $color9;
	}

	.mobile-navigation .wrapper nav ul li a{
		@include makeNull;
		display: block;
		position: relative;
		text-decoration: none;
		color: $color2;
		text-align: left;
	}

	.mobile-navigation .wrapper nav ul li.hasSub > a::after{
		content: "";
		width: 20px;
		height: 20px;
		position: absolute;
		top: 0px;
		right: 0;
		background-color: $color2;
		@include trans('transform', '600ms');
		@include sprite('-149px -2px');
		transform: rotate(-90deg);
	}

	.mobile-navigation .wrapper nav ul li.openSubMenu > a::after{
		transform: rotate(90deg);
	}

	.mobile-navigation .wrapper nav ul li ul.sub{
		display: none;
		margin-top: 15px;
		background-color: $color9;
		padding: 10px;
	}

	.mobile-navigation .wrapper nav ul li ul.sub li:last-child{
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.mobile-navigation .times{
		@include makeNull;
		width: 40px;
		height: 40px;
		position: absolute;
		top: 20px;
		right: 20px;
		display: block;
		text-decoration: none;
		text-indent: -9999px;
		cursor: pointer;
		pointer-events: all;
		border: solid 1px $color2;
	}

	.mobile-navigation .times::after{
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $color2;
		@include sprite('-58px -141px');
	}

	main .center .left{
		width: 100%;
	}

	main .center .right{
		display: none;
	}

	main .center .left .mainslider-box #mainslider,
	main .center .left .mainslider-box #mainslider .owl-stage-outer .owl-stage .owl-item .item .img-box{
		height: 350px;
	}

	main .center .left .bottom{
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	}

	main .center .left .bottom #subslider{
		width: 100%;
	}

	main .center .left .bottom #subslider .owl-stage-outer .owl-stage .owl-item .item .brand{
		width: calc(50% - 25px);
		margin-right: 15px;
	}

	main .center .left .bottom #subslider .owl-stage-outer .owl-stage .owl-item .item .title{
		width: calc(50% + 10px);
		margin-left: 0;
		align-items: center;
	}

	main .center .left .bottom .btns{
		display: none;
	}

	main .center .left .bottom #subslider .owl-stage-outer .owl-stage .owl-item .item .brand::after,
	main .center .left .bottom #subslider::after{
		content: none;
	}

	main .center .left .bottom #subslider .owl-stage-outer .owl-stage .owl-item .item .title h2{
		font-size: 18px;
	}

	main .center .left .bottom #subslider .owl-stage-outer .owl-stage .owl-item .item .title .box p{
		margin-top: 0px;
		font-size: 12px;
	}

	.g-profile-languages ul li a{
		transform: scale(0.8);
		transform-origin: center;
	}

	main .center .left .mainslider-box #mainslider .owl-nav{
		@include makeNull;
		width: 100%;
		height: 30px;
		position: absolute;
		top: calc(50% - 15px);
		left: 0;
		z-index: 100;
	}

	main .center .left .mainslider-box #mainslider .owl-nav button{
		@include makeNull;
		width: 30px;
		height: 30px;
		margin: 0 15px;
		background-color: $white;
		text-indent: -9999px;
		position: relative;
		border-radius: 5px;
		@include trans('background-color', '600ms');
	}

	main .center .left .mainslider-box #mainslider .owl-nav button::after{
		content: "";
		width: 20px;
		height: 20px;
		position: absolute;
		top: 5px;
		left: 5px;
		background-color: $color2;
		@include trans('background-color', '600ms');
	}

	main .center .left .mainslider-box #mainslider .owl-nav button.owl-prev{
		float: left;
	}

	main .center .left .mainslider-box #mainslider .owl-nav button.owl-next{
		float: right;
	}

	main .center .left .mainslider-box #mainslider .owl-nav button.owl-prev::after{
		@include sprite('-149px -2px');
	}

	main .center .left .mainslider-box #mainslider .owl-nav button.owl-next::after{
		transform: rotate(180deg);
		@include sprite('-149px -2px');
	}

	main .center .left .mainslider-box #mainslider .owl-nav button:hover{
		background-color: $color3;
	}

	main .center .left .mainslider-box #mainslider .owl-nav button:hover::after{
		background-color: $white;
	}

	main .adresses-box{
		padding: 20px 0;
		margin-top: 0;
	}

	main .adresses-box .row .col-md-4{
		margin-bottom: 15px;
	}

	main .adresses-box .row .col-md-4:last-child{
		margin-bottom: 0px;
	}

	main .adresses-box .data h2{
		font-size: 13px;
		line-height: 13px;
	}

	main .adresses-box .data p{
		font-size: 13px;
	}

	main .products-box .center h2{
		font-size: 20px;
		line-height: 20px;
		padding: 20px 0;
	}

	main .products-box .center .products .item .content h3{
		font-size: 13px;
		line-height: 13px;
	}

	main .products-box .center .products .item{
		margin-bottom: 15px;
	}

	main .discount #discount-slider{
		height: 600px;
	}

	main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item{
		height: 380px;
	}

	main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .image-box{
		height: 380px;
	}

	main .discount #discount-slider .owl-nav{
		top: 175px;
	}

	main .discount #discount-slider .owl-dots{
		bottom: unset;
		top: 260px;
	}

	main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content{
		height: 260px;
		bottom: -200px;
		overflow: hidden;
	}

	main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box{
		padding: 20px;
		height: unset;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	}

	main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .brand{
		width: 45%;
		justify-content: center;
		float: none;
		margin: 0px auto 15px auto;
	}

	main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .brand::after,
	main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .title::after{
		content: none;
	}

	main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .title{
		width: 100%;
		margin-left: 0px;
		float: none;
	}

	main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .title .wrapper h2{
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 0px;
	}

	main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .title .wrapper p{
		font-size: 12px;
	}

	main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .price{
		float: none;
		width: 100%;
		margin-top: 15px;
	}

	main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .price .wrapper .old-price,
	main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .price .wrapper .new-price{
		text-align: left;
	}

	main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .price .wrapper .old-price strike{
		font-size: 20px;
	}

	main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .price .wrapper .new-price span{
		font-size: 30px;
	}

	main #bannerSlider{
		@include makeNull;
		margin: 20px auto;
		width: 90%;
		height: 200px;
	}

	main #bannerSlider .owl-stage-outer{
		@include makeNull;
		width: 100%;
		height: 100%;
		position: relative;
	}

	main #bannerSlider .owl-stage-outer .owl-stage{
		height: 100%;
		position: relative;
	}

	main #bannerSlider .owl-stage-outer .owl-stage .owl-item{
		height: 100%;
		position: relative;
	}

	main #bannerSlider .owl-stage-outer .owl-stage .owl-item .item{
		height: 100%;
		display: block;
		text-decoration: none;
		position: relative;
	}

	main #bannerSlider .owl-stage-outer .owl-stage .owl-item .item img{
		@include makeNull;
		width: 100%;
		height: calc(100% - 25px);
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	main #bannerSlider .owl-stage-outer .owl-stage .owl-item .item h3{
		@include makeNull;
		width: 100%;
		height: 25px;
		position: absolute;
		left: 0;
		bottom: 0;
		color: $color2;
		z-index: 1;
	}

	main #bannerSlider .owl-nav{
		@include makeNull;
		width: 100%;
		height: 30px;
		position: absolute;
		top: calc(50% - 15px);
		left: 0;
		z-index: 100;
		pointer-events: none;
	}

	main #bannerSlider .owl-nav button{
		@include makeNull;
		width: 30px;
		height: 30px;
		margin: 0 15px;
		background-color: $white;
		text-indent: -9999px;
		position: relative;
		border-radius: 5px;
		@include trans('background-color', '600ms');
		pointer-events: all;
	}

	main #bannerSlider .owl-nav button::after{
		content: "";
		width: 20px;
		height: 20px;
		position: absolute;
		top: 5px;
		left: 5px;
		background-color: $color2;
		@include trans('background-color', '600ms');
	}

	main #bannerSlider .owl-nav button.owl-prev{
		float: left;
	}

	main #bannerSlider .owl-nav button.owl-next{
		float: right;
	}

	main #bannerSlider .owl-nav button.owl-prev::after{
		@include sprite('-149px -2px');
	}

	main #bannerSlider .owl-nav button.owl-next::after{
		transform: rotate(180deg);
		@include sprite('-149px -2px');
	}

	main #bannerSlider .owl-nav button:hover{
		background-color: $color3;
	}

	main #bannerSlider .owl-nav button:hover::after{
		background-color: $white;
	}

	main .products-box .center .products .item .image-wrapper,
	main .products-box .center .products .item .image-box,
	main .products-box .center .products .item .image-box .image{
		height: 150px;
	}

	main .products-box .center .products .item .content{
		padding: 10px 20px;
	}

	main .products-box .center .products .item .content .bottom{
		padding-top: 0px;
	}

	main .products-box .center .products .item .content .data,
	main .products-box .center .products .item .content .bottom .btns .quentity-box{
		display: none;
	}

	main .products-box .center .products .item .content .bottom .btns{
		float: none;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	main #trendSlider{
		@include makeNull;
		height: 295px;
		margin-bottom: 20px;
	}

	main #trendSlider .owl-stage-outer{
		@include makeNull;
		width: 100%;
		height: 100%;
		position: relative;
	}

	main #trendSlider .owl-stage-outer .owl-stage{
		height: 100%;
		position: relative;
	}

	main #trendSlider .owl-stage-outer .owl-stage .owl-item{
		height: 100%;
		position: relative;
	}

	main #trendSlider .owl-stage-outer .owl-stage .owl-item .item{
		height: 100%;
		display: block;
		text-decoration: none;
		position: relative;
	}

	main #trendSlider .owl-nav{
		@include makeNull;
		width: 100%;
		height: 30px;
		position: absolute;
		top: calc(50% - 15px);
		left: 0;
		z-index: 100;
		pointer-events: none;
	}

	main #trendSlider .owl-nav button{
		@include makeNull;
		width: 30px;
		height: 30px;
		margin: 0 15px;
		background-color: $white;
		text-indent: -9999px;
		position: relative;
		border-radius: 5px;
		@include trans('background-color', '600ms');
		pointer-events: all;
	}

	main #trendSlider .owl-nav button::after{
		content: "";
		width: 20px;
		height: 20px;
		position: absolute;
		top: 5px;
		left: 5px;
		background-color: $color2;
		@include trans('background-color', '600ms');
	}

	main #trendSlider .owl-nav button.owl-prev{
		float: left;
	}

	main #trendSlider .owl-nav button.owl-next{
		float: right;
	}

	main #trendSlider .owl-nav button.owl-prev::after{
		@include sprite('-149px -2px');
	}

	main #trendSlider .owl-nav button.owl-next::after{
		transform: rotate(180deg);
		@include sprite('-149px -2px');
	}

	main #trendSlider .owl-nav button:hover{
		background-color: $color3;
	}

	main #trendSlider .owl-nav button:hover::after{
		background-color: $white;
	}

	main .news .center .title-box{
		margin-bottom: 20px;
	}

	main .news .center .title-box h2{
		font-size: 20px;
	}

	main .news .news-slider-box{
		height: 300px;
	}

	main .news .news-slider-box #news-pic-slider{
		height: 300px;
	}

	main .news .news-slider-box #news-pic-slider .owl-stage-outer .owl-stage .owl-item .item .image-box{
		height: 300px;
	}

	main .news .news-slider-box #news-pic-slider .owl-stage-outer .owl-stage .owl-item .item .image-box .text-container .text{
		font-size: 13px;
		line-height: 16px;
	}

	main .brands .center .brand-slider .wrapper{
		display: block;
	}

	main .brands .center .brand-slider .wrapper .item{
		width: 100%;
		display: block;
		text-decoration: none;
	}

	main #brandOwlSlider{
		@include makeNull;
		height: 200px;
	}

	main #brandOwlSlider .owl-stage-outer{
		@include makeNull;
		width: 100%;
		height: 100%;
		position: relative;
	}

	main #brandOwlSlider .owl-stage-outer .owl-stage{
		height: 100%;
		position: relative;
	}

	main #brandOwlSlider .owl-stage-outer .owl-stage .owl-item{
		height: 100%;
		position: relative;
	}

	main #brandOwlSlider .owl-stage-outer .owl-stage .owl-item .item{
		height: 100%;
		display: block;
		text-decoration: none;
		position: relative;
	}

	main .brands .center .brand-slider .wrapper .item .image-box{
		width: 100%;
		height: 180px;
	}

	main .brands .center .title-box{
		margin-top: 20px;
	}

	main .adresses-box.politic-box .data a{
		font-size: 14px;
		line-height: 14px;
	}

	.home footer{
		margin-top: 40px;
	}

	footer .top{
		padding-top: 20px;
	}

	footer .top .footer-logo{
		transform: scale(0.9);
	}

	footer .top .row{
		display: none;
	}

	footer .shindi-box{
		margin-top: 20px;
	}

	footer .shindi-box .col-md-6{
		width: 50%;
	}

	footer .shindi-box .center p{
		font-size: 14px;
	}

	.footer-mobile-nav{
		margin: 20px 0;
	}

	.footer-mobile-contact{
		margin-bottom: 20px;
	}

	footer .top .social-box h3{
		margin-top: 0px;
	}

	footer .top .social-box ul li{
		float: none;
		margin-right: 0;
		display: inline-block;
	}

	footer .top h3{
		font-size: 16px;
	}

	footer .top .footer-menu ul li a,
	footer .top .address,
	footer .top .phone a{
		font-size: 14px;
	}

	footer .top .footer-menu ul li{
		margin-bottom: 15px;
	}

	footer .top .copyright{
		width: 100%;
		font-size: 14px;
	}

	main .brands .center .brand-slider .wrapper .item:hover .image-box{
		transform: translateY(0px) !important;
	}

	.product-page main .product-section .right{
		display: block;
		float: none;
		width: 100%;
	}

	main .product-item .center .product-slider-box{
		height: 300px;
	}

	main .product-item .center .product-slider-box .thumbs{
		display: none;
	}

	main .product-item .center .product-slider-box #product-slider{
		width: 100%;
		margin-left: 0;
	}

	.purchase-page main{
		margin-top: 20px;
	}

	.purchase-page .breadcrumbs{
		margin-bottom: 20px;
	}

	main .product-item .center h1{
		font-size: 20px;
		line-height: 20px;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	main .product-item .center h1 span{
		font-size: 16px;
	}

	main .product-item .center .actions-box{
		padding: 15px 0;
	}

	main .product-item .center .actions-box .price,
	main .product-item .center .actions-box .info{
		height: 30px;
	}

	main .product-item .center .actions-box .right{
		height: 30px;
		clear: both;
		float: left;
		margin-top: 15px;
	}

	main .product-item .center .actions-box .info span{
		font-size: 14px;
	}

	main .product-item .center .description{
		margin-top: 20px;
		padding-bottom: 20px;
	}

	main .product-item .center .description h2{
		font-size: 14px;
		line-height: 14px;
	}

	main .product-item .center .description p{
		font-size: 13px;
	}

	main .product-item .center .additional-data{
		padding: 10px 0;
	}

	main .product-item .center .additional-data .data{
		display: block;
		margin-bottom: 15px;
		margin-right: 0;
	}

	main .product-item .center .additional-data .data:last-child{
		margin-bottom: 0px;
	}

	main .similar-products .center .title-box{
		margin-top: 20px;
	}

	main .similar-products .center .title-box h2{
		font-size: 20px;
	}

	main .similar-products .center #similar-products-slider{
		margin-top: 0px;
	}

	main .similar-products .center #similar-products-slider .item .content h3{
		font-size: 13px;
		line-height: 13px;
	}

	main .similar-products .center #similar-products-slider .item .content .data{
		display: none;
	}

	main .similar-products .center #similar-products-slider .item .content .bottom .btns{
		margin-top: 10px;
		margin-bottom: 10px;
		display: block;
		float: none;
	}

	main .similar-products .center #similar-products-slider .item .content .bottom .btns .quentity-box{
		display: none;
	}

	main .similar-products .center #similar-products-slider .item .image-wrapper,
	main .similar-products .center #similar-products-slider .item .image-box,
	main .similar-products .center #similar-products-slider .item .image-box .image{
		height: 150px;
	}

	#g-auth-register .modal-dialog{
		width: calc(100% - 1rem);
		max-width: calc(100% - 1rem);
	}

	#g-auth-register .modal-content{
		height: unset;
		padding: 40px;
	}

	#g-auth-register .modal-content .modal-body .left-side{
		width: 100%;
	}

	#g-auth-register .modal-content .modal-body .right-side{
		display: none;
	}

	#g-auth-register .modal-content .modal-body .left-side .g-flex{
		width: 100%;
	}

	#g-auth-register .modal-content .modal-body .left-side .g-flex h2{
		font-size: 36px;
		line-height: 36px;
	}

	#g-auth-register .modal-content .modal-body .left-side .g-flex #myTab{
		margin-top: 16px;
	}

	#g-auth-register .modal-content .modal-body .left-side .g-flex #myTab li button{
		font-size: 13px;
	}

	#g-auth-register .modal-content .modal-body .left-side .g-flex #myTabContent .tab-pane form .input-box{
		padding: 4px 10px;
	}

	#g-auth-register .modal-content .modal-body .left-side .g-flex #myTabContent .tab-pane form .input-box input{
		width: 100%;
	}

	.no-margin-bottom{
		margin-bottom: 0px !important;
	}

	#g-auth-register .modal-content .modal-body .left-side .g-flex #myTabContent .tab-pane form .submit-box .save-pass{
		height: unset;
		display: block;
		width: 100%;
		float: left;
		clear: both;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#g-auth-register .modal-content .modal-body .left-side .g-flex #myTabContent .tab-pane form .submit-box .btns{
		width: 100%;
	}

	#g-auth-register .modal-content .modal-body .left-side .g-flex #myTabContent .tab-pane form .submit-box .btns button.close{
		width: calc(50% - 4px);
	}

	#g-auth-register .modal-content .modal-body .left-side .g-flex #myTabContent .tab-pane form .submit-box .btns button.submit-auth{
		width: calc(50% - 4px);
	}

	#g-auth-register .modal-content .modal-body .left-side .g-flex #myTabContent .tab-pane form .fb-gm-auth-box,
	#g-auth-register .modal-content .modal-body .left-side .g-flex #myTabContent .tab-pane form .fb-gm-auth-box .auth-btns{
		margin-top: 15px;
	}

	.margin-top15{
		margin-top: 15px;
	}
}