@import 'variables';

@media(max-width: 961px){
	.center{
		width: calc(100% - 30px);
		margin: 0 15px;
	}

	.hideDesktop{
		display: block;
	}

	header .top{
		height: unset;
	}

	header .top .center .logos-box{
		transform: unset;
		width: 100%;
		height: unset;
		margin: 15px 0;
		display: block;
	}

	header .top .center .logos-box a{
		margin-right: 0px;
	}

	header .top .center .logos-box a.usaid{
		width: 40%;
	}

	header .top .center .logos-box a.usaid::after{
		-webkit-background-image: url('../img/logo.usaid.svg');
		background-image: url('../img/logo.usaid.svg');
		-webkit-background-size: contain;
    	background-size: contain;
		-webkit-background-position: left center;
		background-position: left center;
	}

	header .top .center .logos-box a.csogeorgia{
		width: 30%;
	}

	header .top .center .logos-box a.csogeorgia::after{
		-webkit-background-image: url('../img/logo.cso.svg');
		background-image: url('../img/logo.cso.svg');
		-webkit-background-size: contain;
    	background-size: contain;
		-webkit-background-position: center;
		background-position: center;
	}

	header .top .center .logos-box a.samoqalaqo{
		width: 30%;
	}

	header .top .center .logos-box a.samoqalaqo::after{
		-webkit-background-image: url('../img/logo.civil.svg');
		background-image: url('../img/logo.civil.svg');
		-webkit-background-size: contain;
    	background-size: contain;
		-webkit-background-position: right center;
		background-position: right center;
	}

	header .top .center .logos-box a.chaertemartvashi{
		float: none;
		clear: both;
		margin: 70px 0 0 0;
	}

	header .top .center .right .wrapper form{
		display: none;
	}

	header .top .center .right{
		width:60%;
		height: 50px;
		position: absolute;
		right: 0;
		bottom: 15px;
	}

	header .top .center .right .wrapper .languages-box{
		float: left;
	}

	header .top .center .navigation-box{
		top: 160px;
		padding-top: 0px;
	}

	header .top .center .navigation-box nav ul li a{
		height: 35px;
		line-height: 35px;
		font-size: $fs14;
	}

	header .top .center .navigation-box .social-box,
	header .top .center .navigation-box .social-box ul,
	header .top .center .navigation-box .social-box ul li{
		height: 35px;
	}

	header .top .center .navigation-box .social-box ul li a{
		margin-top: 2.5px;
		transform: scale(0.8);
	}

	.mobile-search{
		@include makeNull;
		width: 22px;
		height: 22px;
		position: absolute;
		right: 50px;
		top: calc(50% - 11px);
		cursor: pointer;
		pointer-events: all;
	}

	.mobile-search::after{
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		@include sprite('-481px -3px');
		background-color: $color4;
	}

	header .top .center .right .wrapper form{
		width: 166.666%;
		position: absolute;
		top: 55px;
		left: -66.666%;
		background-color: $color2;
		padding: 15px 0;
	}

	header .top .center .right .wrapper form input{
		margin: 0 10%;
		width: 80%;
	}

	header .top .center .right .wrapper form input:focus{
		width: 80%;
		outline: 0px;
		border-color: $color4;
	}

	header .top .center .right .wrapper form button{
		right: calc(10% + 15px);
	}

	main{
		margin-top: 160px;
	}

	main .main-slider-box .overlay .center .middle .wrapper{
		display: block;
		height: 250px;
	}

	main .main-slider-box .overlay .center .middle::before,
	main .main-slider-box .overlay .center .middle::after{
		height: calc(100% - 250px);
	}

	main .main-slider-box .overlay .center .middle .wrapper .left-side{
		width: 100%;
	}

	main .main-slider-box .overlay .center .middle .wrapper .left-side .social{
		display: none;
	}

	main .main-slider-box .overlay .center .middle .wrapper .left-side .dots-box{
		margin-left: 0;
		width: 100%;
		margin: 10px 0;
	}

	main .main-slider-box .overlay .center .middle .wrapper .text{
		width: 100%;
	}

	main .main-slider-box .overlay .center .middle .wrapper .text h1{
		font-size: $fs20;
		line-height: 20px;
		width: 100%;
		float: left;
		margin-bottom: 10px;
	}

	main .main-slider-box .overlay .center .middle .wrapper .text p{
		font-size: $fs12;
		line-height: 14px;
	}

	main .main-slider-box .overlay .center .middle .wrapper .text .readmore{
		font-size: $fs12;
		margin-top: 10px;
	}

	main .about-us{
		margin: 40px 0;
	}

	main .about-us .center .wrapper{
		display: block;
	}

	header .top .center .right .wrapper .burger{
		margin-left: 0;
	}

	main .about-us .center .wrapper .left,
	main .about-us .center .wrapper .right{
		width: 100%;
	}

	main .about-us .center .wrapper .left h2{
		font-size: $fs20;
		line-height: 50px;
		height: 50px;
	}

	main .about-us .center .wrapper .left .text{
		padding: 15px;
	}

	main .about-us .center .wrapper .left .text p, main .about-us .center .wrapper .left .text a{
		font-size: $fs12;
		line-height: 16px;
	}

	main .about-us .center .wrapper .left .text p{
		margin-bottom: 20px;
	}

	main .about-us.g-visible .center .wrapper .right::before{
		content: none;
	}

	main .about-us .center .wrapper .right .image-box{
		position: relative;
		width: 100%;
		height: 300px;
		margin-top: 15px;
	}

	main .news-box .center h2{
		font-size: $fs20;
		line-height: 50px;
		height: 50px;
		width: 100%;
	}

	main .news-box .mouseHoverChangeScale{
		display: none;
	}

	main .news-box .allnews{
		position: static;
		float: left;
		margin: 15px 0;
		clear: both;
		height: unset;
	}

	main .news-box .allnews a{
		font-size: $fs12;
	}

	footer{
		padding-top: 20px;
	}

	footer .footer-nav nav ul li{
		margin-bottom: 10px;
	}

	footer .middle{
		display: block;
	}

	footer .middle .wrapper{
		width: 100%;
	}

	footer .middle .wrapper p{
		margin-top: 15px;
		margin-bottom: 15px;
	}

	footer .middle .wrapper .logos{
		margin-bottom: 20px;
	}

	footer .middle .wrapper button{
		width: 100%;
		margin-bottom: 15px;
	}

	footer .center .social{
		margin-bottom: 20px;
	}

	footer .center .social a{
		transform: scale(1.0);
	}

	footer .center .contaxt-info{
		display: block;
	}

	footer .copyright{
		margin-top: 20px;
	}

	main .news-box{
		min-height: 550px;
	}

	main .news-box #mobileNewsSlider{
		@include makeNull;
		width: 100%;
		height: 400px;
		position: relative;
		overflow: hidden;
		margin: 40px 0 0 0;
	} 

	main .news-box #mobileNewsSlider .owl-stage-outer{
		@include makeNull;
		width: 100%;
		height: 100%;
		position: relative;
	}

	main .news-box #mobileNewsSlider .owl-stage-outer .owl-stage{
		height: 100%;
		position: relative;
	}

	main .news-box #mobileNewsSlider .owl-stage-outer .owl-stage .owl-item{
		height: 100%;
		position: relative;
	}

	main .news-box #mobileNewsSlider .owl-stage-outer .owl-stage .owl-item .item{
		height: 100%;
		position: relative;
		text-decoration: none;
	}

	main .news-box #mobileNewsSlider .owl-stage-outer .owl-stage .owl-item .item .image-box{
		@include makeNull;
		width: 100%;
		height: 200px;
		position: relative;
		overflow: hidden;
	}

	main .news-box #mobileNewsSlider .owl-stage-outer .owl-stage .owl-item .item .image-box .image{
		@include makeNull;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-size: cover;
		background-position: center;
	}

	main .news-box #mobileNewsSlider .owl-stage-outer .owl-stage .owl-item .item .image-box .image img{
		@include makeNull;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		opacity: 0;
	}

	main .news-box #mobileNewsSlider .owl-stage-outer .owl-stage .owl-item .item .content{
		@include makeNull;
		background-color: $white;
		padding: 10px;
	}

	main .news-box #mobileNewsSlider .owl-stage-outer .owl-stage .owl-item .item .content .date{
		@include makeNull;
		font-style: normal;
		color: $color3;
		font-family: 'Helvetica-Roman';
		font-size: $fs13;
		line-height: 13px;
		margin: 0 0 10px 0;
		display: block;
	}

	main .news-box #mobileNewsSlider .owl-stage-outer .owl-stage .owl-item .item .content h3{
		@include makeNull;
		display: block;
		color: $color4;
		font-family: 'Helvetica-Roman-Caps';
    	font-size: $fs14;
    	line-height: 14px;
	}

	main .news-box #mobileNewsSlider .owl-stage-outer .owl-stage .owl-item .item .content p{
		@include makeNull;
		margin: 10px 0;
		color: $color4;
		font-family: 'Helvetica-Roman';
		font-size: $fs12;
		line-height: 14px;
	}

	main .news-box #mobileNewsSlider .owl-stage-outer .owl-stage .owl-item .item .readmore{
		@include makeNull;
		width: 100%;
    	height: 30px;
    	text-align: center;
    	background-color: $color2;
	}

	main .news-box #mobileNewsSlider .owl-stage-outer .owl-stage .owl-item .item .readmore span{
		@include makeNull;
		display: inline-block;
		padding-right: 30px;
		position: relative;
		color: $color1;
		font-family: 'Roboto-Regular';
		font-size: $fs14;
		line-height: 30px;
	}

	main .news-box #mobileNewsSlider .owl-nav{
		@include makeNull;
		width: 100%;
		height: 40px;
		pointer-events: none;
		position: absolute;
		left: 0;
		top: calc(50% - 20px);
		z-index: 10;
	}

	main .news-box #mobileNewsSlider .owl-nav button{
		@include makeNull;
		width: 40px;
		height: 40px;
		margin: 0 10px;
		background-color: $color1;
		position: relative;
		pointer-events: all;
		border-radius: 100%;
	}

	main .news-box #mobileNewsSlider .owl-nav button::after{
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $white;
		@include sprite('-375px -68px');
		transform: scale(0.6);
	}

	main .news-box #mobileNewsSlider .owl-nav button span{
		display: none;
	}

	main .news-box #mobileNewsSlider .owl-nav button.owl-prev{
		float: left;
	}
	main .news-box #mobileNewsSlider .owl-nav button.owl-next{
		float: right;
	}

	main .news-box #mobileNewsSlider .owl-nav button.owl-prev::after{
		transform: rotate(180deg) scale(0.6);	
	}

	.about-page main h1{
		width: 100%;
		height: 50px;
		line-height: 50px;
		font-size: $fs20;
	}

	.about-page main .box{
		padding: 15px;
		margin-bottom: 40px;
		display: block;
	}

	.about-page main .box::before{
		content: none;
	}

	.about-page main .box .image-box{
		width: 100%;
		height: 220px;
		margin-bottom: 15px;
	}

	.about-page main .box .text{
		width: 100%;
		padding-right: 0px;
	}

	.about-page main .box .text p{
		font-size: $fs12;
		line-height: 16px;
	}
}