@import 'fonts_ge';
@import 'variables';

header .top .center .right .wrapper form input{
	font-family: 'Helvetica-Roman';
	font-size: 16px;
	line-height: 100%;
}

header .top .center .right .wrapper .languages-box a{
	font-family: 'Roboto-Regular';
	font-size: 18px;
	line-height: 33px;
}

header .top .center .navigation-box nav ul li a{
	font-family: 'Helvetica-Roman-Caps';
	font-size: 16px;
	line-height: 60px;
}

main .main-slider-box .overlay .center .middle .wrapper .text h1{
	font-family: 'Helvetica-Medium-Caps';
	font-size: 30px;
	line-height: 30px;
}

main .main-slider-box .overlay .center .middle .wrapper .text p{
	font-family: 'Helvetica-Roman';
	font-size: 16px;
	line-height: 20px;
}

main .main-slider-box .overlay .center .middle .wrapper .text .readmore{
	font-family: 'Helvetica-Roman-Caps';
	font-size: 16px;
	line-height: 33px;
}