@import 'fonts_ge';
@import 'variables';

header .top .center .right .wrapper form input{
	font-family: 'Helvetica-Roman';
	font-size: 16px;
	line-height: 100%;
}

header .top .center .right .wrapper .languages-box a{
	font-family: 'Roboto-Regular';
	font-size: 18px;
	line-height: 33px;
}

header .top .center .navigation-box nav ul li a{
	font-family: 'Helvetica-Roman-Caps';
	font-size: 16px;
	line-height: 60px;
}

main .main-slider-box .overlay .center .middle .wrapper .text h1{
	font-family: 'Helvetica-Medium-Caps';
	font-size: 30px;
	line-height: 30px;
}

main .main-slider-box .overlay .center .middle .wrapper .text p{
	font-family: 'Helvetica-Roman';
	font-size: 16px;
	line-height: 20px;
}

main .main-slider-box .overlay .center .middle .wrapper .text .readmore{
	font-family: 'Helvetica-Roman-Caps';
	font-size: 16px;
	line-height: 33px;
}

main .about-us .center .wrapper .left h2{
	font-family: 'HHelvetica-Bold-Caps';
	font-size: 40px;
	line-height: 74px;
}

main .about-us .center .wrapper .left .text p{
	font-family: 'Helvetica-Roman';
	font-size: 16px;
	line-height: 20px;
}

main .about-us .center .wrapper .left .text a{
	font-family: 'Helvetica-Roman-Caps';
	font-size: 16px;
	line-height: 20px;
}

main .news-box .center h2{
	font-family: 'HHelvetica-Bold-Caps';
	font-size: 40px;
	line-height: 74px;
}

footer .footer-nav nav ul li a{
	font-family: 'Helvetica-Roman-Caps';
	font-size: 16px;
	line-height: 20px;
}

footer .middle p{
	font-family: 'Helvetica-Roman';
	font-size: 16px;
	line-height: 20px;
}

footer .middle .wrapper button span{
	font-family: 'Helvetica-Roman-Caps';
	font-size: 16px;
	line-height: 20px;
}

footer .center .contaxt-info ul li .data h3{
	font-family: 'Helvetica-Medium-Caps';
	font-size: 16px;
	line-height: 20px;
}

footer .center .contaxt-info ul li .data p{
	font-family: 'Helvetica-Roman';
	font-size: 16px;
	line-height: 20px;
}

footer .center .contaxt-info ul li .data a{
	font-family: 'Helvetica-Roman';
	font-size: 16px;
	line-height: 20px;
}

footer .copyright p{
	font-family: 'Helvetica-Roman';
	font-size: 16px;
	line-height: 16px;
}

main .news-box .mouseHoverChangeScale .card .content em{
	font-family: 'Helvetica-Roman';
	font-size: 13px;
	line-height: 13px;
}

main .news-box .mouseHoverChangeScale .card .content h3{
	font-family: 'Helvetica-Roman-Caps';
	font-size: 14px;
	line-height: 14px;
}

main .news-box .mouseHoverChangeScale .card .content p{
	font-family: 'Helvetica-Roman';
	font-size: 13px;
	line-height: 16px;
}

main .news-box .mouseHoverChangeScale .card .readmore span{
	font-family: 'Roboto-Regular';
	font-size: 14px;
	line-height: 38px;
}

main .news-box .allnews a{
	font-family: 'Helvetica-Roman-Caps';
	font-size: 16px;
	line-height: 16px;
}