@import 'variables';

::selection{
	background:$color1;
	color:$white;
}

::-moz-selection{
	background:$color1;
	color:$white;
}

/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Add background color to the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: $color1;
}

/* Add hover effect to the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: $color1;
}

/* Add color to the scrollbar track */
::-webkit-scrollbar-track {
  background-color: $white;
}

.center{
	width: $center;
	margin: 0 auto;
}

.clearer{
	clear: both;
}

body{
	@include makeNull;
}

header{
	@include makeNull;
	position: relative;
	z-index: 100;
}

header .top{
	@include makeNull;
	width: 100%;
	height: 110px;
	background-color: $white;
	@include dropShadow('0px', '3px', '15px', '0px', 'rgba(0,0,0,0.05)');
}

header .top .center{
	position: relative;
}

header .top .center .logos-box{
	@include makeNull;
	width: 50%;
	height: 110px;
	float: left;
	display: flex;
	align-items: center;
	justify-content: left;
}

header .top .center .logos-box a{
	@include makeNull;
	display: block;
	float: left;
	text-decoration: none;
	margin-right: 45px;
	height: 60px;
	line-height: 60px;
	position: relative;
	text-indent: -9999px;
	@include trans('opacity, transform', '600ms');
}

header .top .center .logos-box a:hover{
	opacity: 0.7;
	transform: scale(1.1);
}

header .top .center .logos-box a.usaid{
	width: 220px;
}

header .top .center .logos-box a.usaid::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	@include sprite('-2px -2px', 'true');	
}

header .top .center .logos-box a.csogeorgia{
	width: 85px;
}

header .top .center .logos-box a.csogeorgia::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	@include sprite('-224px -2px', 'true');	
}

header .top .center .logos-box a.samoqalaqo{
	width: 122px;
}

header .top .center .logos-box a.samoqalaqo::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	@include sprite('-338px -1px', 'true');	
}

header .top .center .logos-box a.chaertemartvashi{
	width: 120px;
}

header .top .center .logos-box a.chaertemartvashi::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../img/chaerte.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
}

header .top .center .right{
	@include makeNull;
	width: 50%;
	height: 110px;
	float: right;
	display: flex;
	align-items: center;
	justify-content: left;
}

header .top .center .right .wrapper{
	@include makeNull;
	width: 100%;
}

header .top .center .right .wrapper form{
	@include makeNull;
	position: relative;
	float: right;
	margin-right: 15px;
}

header .top .center .right .wrapper form input{
	@include makeNull;
	width: 147px;
	height: 33px;
	color: $color4;
	border: solid 1px $color2;
	border-radius: 17px;
	padding: 0 40px 0 10px;
	@include trans('width, border-color', '600ms')
}

header .top .center .right .wrapper form input:focus{
	width: 220px;
	outline: 0px;
	border-color: $color4;
}

header .top .center .right .wrapper form button{
	@include makeNull;
	width: 22px;
	height: 22px;
	background-color: transparent;
	display: block;
	position: absolute;
	top: calc(50% - 11px);
	right: 15px;
	text-indent: -9999px;
}

header .top .center .right .wrapper form button::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	@include sprite('-481px -3px');
	background-color: $color4;
}

header .top .center .right .wrapper .languages-box{
	@include makeNull;
	width: 120px;
	height: 33px;
	position: relative;
	float: right;
	background-color: $color2;
	border-radius: 17px;
}

header .top .center .right .wrapper .languages-box::after{
	content: "";
	width: 60px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $color1;
	border-radius: 22px;
	@include trans('left', '600ms');
	z-index: 1;
}

header .top .center .right .wrapper .languages-box.az-active::after{
	left: 0;
}

header .top .center .right .wrapper .languages-box.ka-active::after{
	left: 60px;
}

header .top .center .right .wrapper .languages-box.az-hover::after{
	left: 0;
}

header .top .center .right .wrapper .languages-box.ka-hover::after{
	left: 60px;
}

header .top .center .right .wrapper .languages-box a{
	@include makeNull;
	width: 60px;
	height: 33px;
	display: block;
	text-decoration: none;
	text-align: center;
	color: $color4;
	float: left;
	position: relative;
	z-index: 2;
	@include trans('color', '600ms');
}

header .top .center .right .wrapper .languages-box.ka-active a.ka{
	color: $white;
}

header .top .center .right .wrapper .languages-box.az-active a.az{
	color: $white;
}

header .top .center .right .wrapper .languages-box.az-hover a.ka{
	color: $color4;
}

header .top .center .right .wrapper .languages-box.az-hover a.az{
	color: $white;
}

header .top .center .right .wrapper .languages-box.ka-hover a.ka{
	color: $white;
}

header .top .center .right .wrapper .languages-box.ka-hover a.az{
	color: $color4;
}

header .top .center .right .wrapper .burger{
	@include makeNull;
	float: right;
	margin-left: 40px;
	position: relative;
	width: 30px;
	height: 20px;
	margin-top: 6.5px;
	background-color: transparent;
	display: block;
	cursor: pointer;
	pointer-events: all;
}

header .top .center .right .wrapper .burger:focus{
	outline: 0;
}

header .top .center .right .wrapper .burger em{
	@include makeNull;
	width: 100%;
	height: 3px;
	background-color: $color4;
	position: absolute;
	top: calc(50% - 1.5px);
	left: 0;
	display: block;
	text-indent: -9999px;
	font-style: normal;
}

header .top .center .right .wrapper .burger em:first-child{
	top: 0;
	@include trans('transform', '600ms');
}

header .top .center .right .wrapper .burger em:last-child{
	top: unset;
	bottom: 0;
	@include trans('transform', '600ms');
}

header .top .center .right .wrapper .burger[data-nav='open'] em:nth-child(2){
	display: none;
}

header .top .center .right .wrapper .burger[data-nav='open'] em{
	top: calc(50% - 1.5px);
}

header .top .center .right .wrapper .burger[data-nav='open'] em:first-child{
	transform: rotate(45deg);
}

header .top .center .right .wrapper .burger[data-nav='open'] em:last-child{
	transform: rotate(-45deg);
}

header .top .center .navigation-box{
	@include makeNull;
	width: 100%;
	display: none;
	background-color: $white;
	position: absolute;
	left: 0;
	top: 110px;
	padding-top: 80px;
	border-left: solid 1px $color5;
	border-right: solid 1px $color5;
	border-bottom: solid 1px $color5;
}

header .top .center .navigation-box nav{
	@include makeNull;
	width: 100%;
}

header .top .center .navigation-box nav ul{
	@include makeNull;
	width: 100%;
	list-style-type: none;
}

header .top .center .navigation-box nav ul li{
	@include makeNull;
	width: 100%;
	display: block;
	border-top: solid 1px $color2;
	border-bottom: solid 1px $color2;
}

header .top .center .navigation-box nav ul li a{
	@include makeNull;
	width: 100%;
	height: 60px;
	display: block;
	text-decoration: none;
	text-align: center;
	color: $color1;
	background-color: $white;
	@include trans('background-color, color', '600ms');
}

header .top .center .navigation-box nav ul li a:hover{
	background-color: $color1;
	color: $white;
}

header .top .center .navigation-box .social-box{
	@include makeNull;
	width: 100%;
	height: 60px;
	display: block;
}

header .top .center .navigation-box .social-box ul{
	@include makeNull;
	width: 100%;
	height: 60px;
	display: block;
	list-style-type: none;
	text-align: center;
}

header .top .center .navigation-box .social-box ul li{
	@include makeNull;
	display: inline-block;
	height: 60px;
	margin: 0 10px;
}

header .top .center .navigation-box .social-box ul li a{
	@include makeNull;
	width: 30px;
	height: 30px;
	display: block;
	text-decoration: none;
	text-indent: -9999px;
	position: relative;
	margin-top: 15px;
}

header .top .center .navigation-box .social-box ul li a::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $color3;
	@include trans('background-color', '600ms');
}

header .top .center .navigation-box .social-box ul li a.facebook::after{
	@include sprite('4px -74px');
}

header .top .center .navigation-box .social-box ul li a.youtube::after{
	@include sprite('-27px -75px');
}

header .top .center .navigation-box .social-box ul li a:hover::after{
	background-color: $color4;
}

main{
	@include makeNull;
}

main .main-slider-box{
	@include makeNull;
	width: 100%;
	position: relative;
}

main .main-slider-box #main-slider{
	width: 100%;
	position: relative;
	z-index: 1;
}

main .main-slider-box #main-slider .owl-stage-outer{
	@include makeNull;
	width: 100%;
	height: 100%;
	position: relative;
}

main .main-slider-box #main-slider .owl-stage-outer .owl-stage{
	height: 100%;
	position: relative;
}

main .main-slider-box #main-slider .owl-stage-outer .owl-stage .owl-item{
	height: 100%;
	position: relative;
}

main .main-slider-box #main-slider .owl-stage-outer .owl-stage .owl-item .item{
	height: 100%;
	position: relative;
}

main .main-slider-box #main-slider .owl-stage-outer .owl-stage .owl-item .item .image-box{
	@include makeNull;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center;
}

main .main-slider-box #main-slider .owl-stage-outer .owl-stage .owl-item .item .image-box img{
	@include makeNull;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	opacity: 0;
}

main .main-slider-box .overlay{
	@include makeNull;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	pointer-events: none;
	overflow: hidden;
}

main .main-slider-box .overlay .center{
	position: relative;
	height: 100%;
}

main .main-slider-box .overlay .center .left{
	@include makeNull;
	width: 500px;
	height: 100%;
	position: absolute;
	top: 0;
	left: -500px;
	background-color: rgba(21,111,197,0.4);
}

main .main-slider-box .overlay .center .right{
	@include makeNull;
	width: 500px;
	height: 100%;
	position: absolute;
	top: 0;
	right: -500px;
	background-color: rgba(21,111,197,0.4);
}

main .main-slider-box .overlay .center .topWhiteBg::before{
	content: "";
	@include makeNull;
	width: 100%;
	height: 80px;
	background-color: $white;
	position: absolute;
	top: 0;
	left: 0;
}

main .main-slider-box .overlay .center .middle{
	@include makeNull;
	width: 100%;
	height: 100%;
	position: relative;
}

main .main-slider-box .overlay .center .middle::before{
	content: "";
	width: 1px;
	height: calc(100% - 300px);
	background-color: $color5;
	position: absolute;
	top: 0;
	left: 0;
}

main .main-slider-box .overlay .center .middle::after{
	content: "";
	width: 1px;
	height: calc(100% - 300px);
	background-color: $color5;
	position: absolute;
	top: 0;
	right: 0;
}

main .main-slider-box .overlay .center .middle .wrapper{
	@include makeNull;
	width: 100%;
	height: 300px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(21,111,197,0.4);
	border-top: solid 1px $color5;
	display: flex;
	align-items: center;
}

main .main-slider-box .overlay .center .middle .wrapper .left-side{
	@include makeNull;
	width: 50%;
}

main .main-slider-box .overlay .center .middle .wrapper .left-side .social{
	@include makeNull;
	float: left;
}

main .main-slider-box .overlay .center .middle .wrapper .left-side .social ul{
	@include makeNull;
	list-style-type: none;
}

main .main-slider-box .overlay .center .middle .wrapper .left-side .social ul li{
	@include makeNull;
	display: inline-block;
	margin-right: 30px;
}

main .main-slider-box .overlay .center .middle .wrapper .left-side .social ul li a{
	@include makeNull;
	width: 30px;
	height: 30px;
	display: block;
	text-decoration: none;
	text-indent: -9999px;
	position: relative;
	pointer-events: all;
}

main .main-slider-box .overlay .center .middle .wrapper .left-side .social ul li a::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $white;
	@include trans('background-color', '600ms');
}

main .main-slider-box .overlay .center .middle .wrapper .left-side .social ul li a.facebook::after{
	@include sprite('4px -74px');
}

main .main-slider-box .overlay .center .middle .wrapper .left-side .social ul li a.youtube::after{
	@include sprite('-27px -75px');
}

main .main-slider-box .overlay .center .middle .wrapper .left-side .social ul li a:hover::after{
	background-color: $color1;
}

main .main-slider-box .overlay .center .middle .wrapper .left-side .dots-box{
	@include makeNull;
	float: left;
	height: 30px;
	margin-left: 70px;
	display: flex;
	align-items: center;
}

main .main-slider-box .overlay .center .middle .wrapper .left-side .dots-box button{
	@include makeNull;
	display: inline-block;
	margin-right: 15px;
	width: 18px;
	height: 18px;
	text-indent: -9999px;
	text-decoration: none;
	text-indent: -9999px;
	border: solid 1px $white;
	background-color: transparent;
	border-radius: 100%;
	@include trans('background-color, border-color', '600ms');
	pointer-events: all;
}

main .main-slider-box .overlay .center .middle .wrapper .left-side .dots-box button:hover,
main .main-slider-box .overlay .center .middle .wrapper .left-side .dots-box button.active{
	background-color: $color1;
	border-color: $color1;
}

main .main-slider-box .overlay .center .middle .wrapper .left-side .dots-box ul{
	@include makeNull;
	list-style-type: none;
}

main .main-slider-box .overlay .center .middle .wrapper .left-side .dots-box ul li{
	@include makeNull;
	display: inline-block;
	margin-right: 15px;
}

main .main-slider-box .overlay .center .middle .wrapper .left-side .dots-box ul li a{
	@include makeNull;
	width: 18px;
	height: 18px;
	display: block;
	text-decoration: none;
	text-indent: -9999px;
	border: solid 1px $white;
	background-color: transparent;
	border-radius: 100%;
	@include trans('background-color, border-color', '600ms');
	pointer-events: all;
}

main .main-slider-box .overlay .center .middle .wrapper .left-side .dots-box ul li a:hover,
main .main-slider-box .overlay .center .middle .wrapper .left-side .dots-box ul li a.active{
	background-color: $color1;
	border-color: $color1;
}

main .main-slider-box .overlay .center .middle .wrapper .text{
	@include makeNull;
	width: 50%;
}

main .main-slider-box .overlay .center .middle .wrapper .text h1{
	@include makeNull;
	color: $white;
	margin-bottom: 20px;
}

main .main-slider-box .overlay .center .middle .wrapper .text p{
	@include makeNull;
	color: $white;
}

main .main-slider-box .overlay .center .middle .wrapper .text .readmore{
	@include makeNull;
	margin-top: 35px;
	background-color: $color1;
	border-radius: 17px;
	display: inline-block;
	height: 33px;
	padding: 0 40px 0 20px;
	text-decoration: underline;
	color: $white;
	position: relative;
	pointer-events: all;
	@include trans('background-color, color', '600ms');
}

main .main-slider-box .overlay .center .middle .wrapper .text .readmore:hover{
	background-color: $white;
	color: $color1;
}

main .main-slider-box .overlay .center .middle .wrapper .text .readmore::after{
	content: "";
	width: 26px;
	height: 26px;
	position: absolute;
	top: calc(50% - 13px);
	right: 5px;
	@include sprite('-67px -76px');
	background-color: $white;
	@include trans('background-color', '600ms');
}

main .main-slider-box .overlay .center .middle .wrapper .text .readmore:hover::after{
	background-color: $color1;
}

main .about-us{
	@include makeNull;
	margin: 74px 0 130px 0;
	opacity: 0;
	@include trans('opacity', '1200ms');
}

main .about-us.g-visible{
	opacity: 1;
}

main .about-us .center .wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	position: relative;
}

main .about-us .center .wrapper .left{
	@include makeNull;
	width: 50%;
	position: relative;
	z-index: 2;
}

main .about-us .center .wrapper .left h2{
	@include makeNull;
	width: 100%;
	height: 74px;
	color: $white;
	background-color: $color1;
	text-align: center;
}

main .about-us .center .wrapper .left .text{
	@include makeNull;
	padding: 60px 15px 95px 15px;
	border: solid 1px $color1;
}

main .about-us .center .wrapper .left .text p{
	@include makeNull;
	margin-bottom: 45px;
	color: $color4;
}

main .about-us .center .wrapper .left .text a{
	@include makeNull;
	display: inline-block;
	text-decoration: none;
	color: $color3;
	position: relative;
	@include trans('color', '600ms');
}

main .about-us .center .wrapper .left .text a:hover{
	color: $color1;
}

main .about-us .center .wrapper .left .text a::before{
	content: "";
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: $color3;
	@include trans('background-color', '600ms');
}

main .about-us .center .wrapper .left .text a:hover::before{
	background-color: $color1;
}

main .about-us .center .wrapper .left .text a::after{
	content: "";
	width: 26px;
	height: 26px;
	position: absolute;
	top: calc(50% - 13px);
	right: -40px;
	@include sprite('-67px -76px');
	background-color: $color3;
	@include trans('background-color, transform', '600ms');
}

main .about-us .center .wrapper .left .text a:hover::after{
	background-color: $color1;
	transform: translateX(10px);
}

main .about-us .center .wrapper .right{
	@include makeNull;
	width: 50%;
}

main .about-us .center .wrapper .right::before{
	content: "";
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: $color1;
	z-index: 1;
	@include trans('top', '600ms');
}

main .about-us.g-visible .center .wrapper .right::before{
	top: 74px;
}

main .about-us .center .wrapper .right .image-box{
	@include makeNull;
	width: 50%;
	height: 322px;
	border: solid 1px $color5;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
	overflow: hidden;
}

main .about-us .center .wrapper .right .image-box .image{
	@include makeNull;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center;
	@include trans('transform', '600ms');
}

main .about-us .center .wrapper .right .image-box:hover .image{
	transform: scale(1.1);
}

main .about-us .center .wrapper .right .image-box .image img{
	@include makeNull;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	opacity: 0;
}

main .news-box{
	@include makeNull;
	width: 100%;
	min-height: 450px;
	background-color: $color1;
}

main .news-box .center{
	position: relative;
}

main .news-box .center h2{
	@include makeNull;
	width: 50%;
	height: 74px;
	float: right;
	background-color: $white;
	color: $color1;
	text-align: center;
}

main .news-box .cards{
	display: none;
}

main .news-box .mouseHoverChangeScale{
	@include makeNull;
	display: block;
	width: 100%;
	margin: 150px 0 45px 0;
	position: relative;
	padding-bottom: 117px;
}

main .news-box .mouseHoverChangeScale .card{
	@include makeNull;
	width: 20%;
	height: 500px;
	text-decoration: none;
	text-align: center;
	line-height: 500px;
	display: block;
	position: relative;
	background-color: red;
	float: left;
	border-radius: 0px;
	@include trans('transform', '600ms');
}

main .news-box .mouseHoverChangeScale .card:nth-child(1),
main .news-box .mouseHoverChangeScale .card:nth-child(5){
	transform: scale(1.0);
	z-index: 1;
}


main .news-box .mouseHoverChangeScale .card:nth-child(2),
main .news-box .mouseHoverChangeScale .card:nth-child(4){
	transform: scale(1.1);
	z-index: 2;
}

main .news-box .mouseHoverChangeScale .card:nth-child(3){
	transform: scale(1.2);
	z-index: 3;
}

footer{
	@include makeNull;
	margin-top: 70px;
	width: 100%;
	opacity: 0;
	@include trans('opacity', '1200ms');
}

footer.g-visible{
	opacity: 1;
}

footer .footer-nav{
	@include makeNull;
	width: 100%;
}

footer .footer-nav nav{
	@include makeNull;
	width: 100%;
}

footer .footer-nav nav ul{
	@include makeNull;
	width: 100%;
	list-style-type: none;
}

footer .footer-nav nav ul li{
	@include makeNull;
	width: 100%;
	margin-bottom: 30px;
}

footer .footer-nav nav ul li:last-child{
	margin-bottom: 0px;
}

footer .footer-nav nav ul li a{
	@include makeNull;
	display: inline-block;
	margin-left: 22px;
	position: relative;
	color: $color3;
	text-decoration: none;
	@include trans('color', '600ms');
}

footer .footer-nav nav ul li a:hover{
	color: $color1;
}

footer .footer-nav nav ul li a::before{
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	left: -22px;
	bottom: 0;
	background-color: $color3;
	@include sprite('-93px -79px');
	@include trans('background-color', '600ms');
}

footer .footer-nav nav ul li a:hover::before{
	background-color: $color1;
}

footer .footer-nav nav ul li a::after{
	content: "";
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: $color3;
}

footer .middle{
	@include makeNull;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: start;
}

footer .middle .wrapper{
	@include makeNull;
	width: 320px;
}

footer .middle .wrapper p{
	@include makeNull;
	width: 100%;
	color: $color4;
	text-align: left;
	margin-bottom: 25px;
}

footer .middle .wrapper .logos{
	@include makeNull;
	width: 220px;
	margin-bottom: 60px;
	display: flex;
	justify-content: space-between;
}

footer .middle .wrapper .logos a{
	@include makeNull;
	height: 60px;
	display: block;
	text-decoration: none;
	text-indent: -9999px;
	position: relative;
	@include trans('transform', '600ms');
}

footer .middle .wrapper .logos a:hover{
	transform: scale(1.1);
}

footer .middle .wrapper .logos a.csogeorgia{
	width: 85px;
}

footer .middle .wrapper .logos a.csogeorgia::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	@include sprite('-224px -2px', 'true');	
}

footer .middle .wrapper .logos a.samoqalaqo{
	width: 112px;
}

footer .middle .wrapper .logos a.samoqalaqo::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	@include sprite('-338px -1px', 'true');	
}

footer .middle .wrapper button{
	@include makeNull;
	height: 55px;
	line-height: 55px;
	border-radius: 10px;
	background-color: $color3;
	padding: 0 90px 0 60px;
	display: block;
	@include trans('background-color', '600ms');
}

footer .middle .wrapper button:hover{
	background-color: $color1;
}

footer .middle .wrapper button span{
	@include makeNull;
	display: inline-block;
	position: relative;
	color: $color6;
}

footer .middle .wrapper button span::before{
	content: "";
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: $color6;
}

footer .middle .wrapper button span::after{
	content: "";
	width: 26px;
	height: 26px;
	position: absolute;
	top: calc(50% - 13px);
	right: -35px;
	@include sprite('-67px -76px');
	background-color: $color6;
}

footer .center .social{
	@include makeNull;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 55px;
}

footer .center .social a{
	@include makeNull;
	width: 30px;
	height: 30px;
	display: block;
	text-decoration: none;
	text-indent: -9999px;
	position: relative;
	margin: 0 20px;
	transform: scale(1.25);
}

footer .center .social a::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $color3;
	@include trans('background-color', '600ms');
}

footer .center .social a.facebook::after{
	@include sprite('4px -74px');
}

footer .center .social a.youtube::after{
	@include sprite('-27px -75px');
}

footer .center .social a:hover::after{
	background-color: $color1;
}

footer .center .contaxt-info{
	@include makeNull;
	width: 100%;
	display: flex;
	justify-content: right;
}

footer .center .contaxt-info .wrapper{
	@include makeNull;
	width: 300px;
}

footer .center .contaxt-info ul{
	@include makeNull;
	width: 100%;
	list-style-type: none;
}

footer .center .contaxt-info ul li{
	@include makeNull;
	width: 100%;
	margin-bottom: 30px;
}

footer .center .contaxt-info ul li:last-child{
	margin-bottom: 0px;
}

footer .center .contaxt-info ul li em{
	@include makeNull;
	display: block;
	font-style: normal;
	position: relative;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
	float: left;
}

footer .center .contaxt-info ul li em::before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $color3;
}

footer .center .contaxt-info ul li em.address::before{
	@include sprite('-192px -76px');
}

footer .center .contaxt-info ul li em.phone::before{
	@include sprite('-155px -76px');
}

footer .center .contaxt-info ul li em.email::before{
	@include sprite('-121px -76px');
}

footer .center .contaxt-info ul li .data{
	@include makeNull;
	display: block;
	float: left;
	width: calc(100% - 50px);
	margin-left: 25px;
}

footer .center .contaxt-info ul li .data h3{
	@include makeNull;
	color: $color3;
	mix-blend-mode: multiply;
}

footer .center .contaxt-info ul li .data p{
	@include makeNull;
	color: $color4;
}

footer .center .contaxt-info ul li .data a{
	@include makeNull;
	color: $color4;
	text-decoration: none;
	display: inline-block;
	@include trans('color', '600ms');
}

footer .center .contaxt-info ul li .data a:hover{
	color: $color1;
}

footer .copyright{
	@include makeNull;
	width: 100%;
	height: 50px;
	margin-top: 40px;	
	border-top: solid 1px rgba(112,112,112,0.3);
}

footer .copyright .center .wrapper{
	@include makeNull;
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	position: relative;
}

footer .copyright .center .wrapper p{
	@include makeNull;
	width: 50%;
	text-align: left;
	color: $color4;
}

footer .copyright .center .wrapper a.shindi{
	@include makeNull;
	width: 62px;
	height: 22px;
	text-indent: -9999px;
	display: block;
	position: absolute;
	top: 14px;
	right: 0;
	@include trans('opacity', '600ms');
}

footer .copyright .center .wrapper a.shindi:hover{
	opacity: 0.7;
}

footer .copyright .center .wrapper a.shindi::after{
	@include makeNull;
	content: "";
	width: 100%;
	height: 100%;
	@include sprite('-230px -74px', 'true');
	position: absolute;
	top: 0;
	left: 0;
}