@font-face {
    font-family: 'Roboto _GEO Mt';
    src: url('Roboto_GEOMt.eot');
    src: url('Roboto_GEOMt.eot?#iefix') format('embedded-opentype'),
        url('Roboto_GEOMt.woff2') format('woff2'),
        url('Roboto_GEOMt.woff') format('woff'),
        url('Roboto_GEOMt.ttf') format('truetype'),
        url('Roboto_GEOMt.svg#Roboto_GEOMt') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

